.jumbotron {
	font-size: bold;
	text-align: center;
	font-family: Sans-Serif;
}

.nav {
	font-family: Sans-Serif;
	text-align: left;
	width: 500px;
}

.nav ul {
	display: inline-table;
}

.nav li {
	list-style-type: none;
}

body {
	background-color: #6699ff;
}