.jumbotron {
	font-size: bold;
	text-align: center;
	font-family: Sans-Serif;
}

.nav {
	font-family: Sans-Serif;
}

.nav ul {
	display: inline-table;
}

.nav li {
	list-style-type: none;
	display: inline-block;
	width: 100px;
}
