.jumbotron {
	font-size: bold;
	text-align: center;
	font-family: Sans-Serif;
}

.nav {
	font-family: Sans-Serif;
	text-align: left;
	width: 50000px;
}

.nav ul {
	display: inline-table;
}

.nav li {
	list-style-type: none;
}
